footer.footer
  .container
    .text-center
      p.text-muted
        span.logo.logo-footer Ninjam.JP
        br
        a(href="/about") Ninjam.JPについて
        | ・
        a(href="//www.ninjam.com/",target="_blank") ninjam.comを見る
      .row
        .col-xs-offset-3.col-xs-3
          a(href="//twitter.com/ninjamjp",target="_blank")
            span.fa.fa-twitter.social-accounts
        .col-xs-3
          a(href="//www.facebook.com/ninjamjp/",target="_blank")
            span.fa.fa-facebook.social-accounts
