//output: ../../.uncompressed/401.html
extends components/base
block head
  - description = "画期的な遠隔ジャムセッションツール、「NINJAM」の非公式日本語情報サイト。使い方や設定方法などを解説。";
  - title = "401 Authorization Required";
block container
  h2 エラー（401）
  p
    | 認証に失敗しました。ユーザー名とパスワードをもう一度ご確認ください。
block breadcrumb
