script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(src="/js/useragent.js")
script(src="//www.google.com/cse/brand?form=cse-search-box&lang=ja")
script
  $(function(){$('[data-toggle="tooltip"]').tooltip();});mobtn();
  $("#nv#{navbaractive}").addClass("active");
