.visible-mobile-block
  .btn-group
    button.btn.btn-default#btn1(onclick="wbtn();")
      span.fa.fa-windows
    button.btn.btn-default#btn2(onclick="mbtn();")
      span.fa.fa-apple
    button.btn.btn-default#btn3(onclick="lbtn();")
      span.fa.fa-linux

    
