extends components/base
block head
  - description = "画期的な遠隔ジャムセッションツール、「NINJAM」の非公式日本語情報サイト。使い方や設定方法などを解説。";
  - title = "404 Not Found";
block container
  h2 エラー（404）
  p
    | アクセスいただいたページは存在しません。URLが間違っているか、削除された可能性があります。 - 
    a(href="/") トップに戻る
block breadcrumb
