extends components/base
block head
  - description = "「NINJAM」のサーバーを構築する方法を解説します。";
  - title = "サーバーを構築する - Ninjam.JP";
  - navbaractive = "2";
block container
  h2 NINJAMサーバーを構築する
  p
    | NINJAMサーバーは、現実のジャムセッションでいうセッションバーのようなものです。必要なインフラさえ整っていれば、NINJAMサーバーの構築は新たにセッションバーを開店するよりはるかに簡単です。
  | 準備中…
    
block append breadcrumb
  li 導入する
  li.active サーバーを構築する
